<fieldset>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-xs-2 control-label">검색어</label>

                <div class="col-xs-10">
                    <input name="search" type="text" class="form-control" placeholder="검색어를 입력하세요." value="${data.search!}">
                </div>
            </div>
        </div>
    </div>
</fieldset>