<#import "/spring.ftl" as spring/>
<#import "../common/ui.ftl" as ui/>
<!DOCTYPE html>
<html lang="ko">

<head>
  <#include "../common/head-meta.ftl">
  <#include "../common/css/create.ftl">
</head>
<body>
<div class="wrapper">
  <#-- top navbar-->
  <#include "../common/top-navbar.ftl">
  <#-- sidebar-->
  <#include "../common/sidebar.ftl">

  <#-- Main section -->
  <section>
    <#-- Page content-->
    <div class="content-wrapper">
      <#include "../common/header.ftl">
      <#include "body/create.ftl">
    </div>
  </section>

  <#-- Page footer-->
  <#include "../common/footer.ftl">
</div>

<#include "../common/vendor.ftl">
<#include "../common/script/create.ftl">

<#--### Autocomplete ###-->
<script src="<@spring.url "/ad/vendor/devbridge-autocomplete/dist/jquery.autocomplete.js"/>"></script>
<script>
  $(function () {
    window.callbackByUser = function (data) {
      console.debug(data);
      $('[name="relativeBuyer"]').val(data.id);
      $('#user-name').val(data.name);
    };
  });
</script>
</body>

</html>