@import "assets/scss/style.scss";

/*.pcoded-navbar.mob-open ~ .pcoded-header:before,
.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-header:before{
  display: none;
}

.nav-outside.mob-backdrop ~ .pcoded-main-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.25);
}
.pcoded-header .dropdown .notification .noti-body li {
  width: 100%;
}

.header-chat .h-list-footer .input-group .btn-attach {
  padding: 0;
  width: 35px;
  height: 35px;
}

.header-chat .h-list-footer .input-group .btn-send {
  top: 7px;
}*/

.pcoded-navbar {
  &.mob-open ~ .pcoded-header:before, &.navbar-collapsed:hover ~ .pcoded-header:before {
    display: none;
  }
}

.nav-outside.mob-backdrop ~ .pcoded-main-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.25);
}

.pcoded-header .dropdown .notification .noti-body li {
  width: 100%;
}

.header-chat .h-list-footer .input-group {
  .btn-attach {
    padding: 0;
    width: 35px;
    height: 35px;
  }

  .btn-send {
    top: 7px;
  }
}

@media only screen and (max-width: 991px) {
  /*

  .nav-outside ~ .pcoded-header,
  .nav-outside ~ .pcoded-main-container {
    margin-left: 0;
  }

  .nav-outside.mob-fixed ~ .pcoded-main-container {
    padding-top: 56px;
  }

  .pcoded-header .container>.collapse:not(.show) .mr-auto, .pcoded-header>.collapse:not(.show) .mr-auto {
    display: inline-flex;
    justify-content: center;
  }

  */

  .nav-outside {
    ~ {
      .pcoded-header, .pcoded-main-container {
        margin-left: 0;
      }
    }

    &.mob-fixed ~ .pcoded-main-container {
      padding-top: 56px;
    }

    .pcoded-header {
      .container > .collapse:not(.show) .mr-auto, > .collapse:not(.show) .mr-auto {
        display: inline-flex;
        justify-content: center;
      }
    }
  }
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.zoom-container {
  position: relative;
  display: flex;
}

.img-preview-section-container {
  display: none;
}
.zoom-container:hover .img-preview-section-container {
  display: block;
  position: relative;
  left: 50px;
}
.zoom-container:hover .img-preview-section-container{
  left: 100%;
  position: absolute;  
  background: #fff;
  border: 1px solid $border-color;
}
.carousel-inner{
  overflow: visible;
  z-index: 1050;
}
